@{
    ViewData["Title"] = "Aboutme";
}

<div class="text-center">
    <h1> Hi,I'm Anson Antony</h1>
    <p>  I am wannab machine Learning Engineer who is interested in learning about operating system and computer science</p>

</div>
<h1>
    Recent Projects </h1>
    <a href="project-detail.html">View Project Details</a>


 